nav {
  height: 77px !important;
  div {
    div {
      .input-field {
        margin-top: 24.5px;
        border-radius: 3px;
        color: #999;
        font-size: 14px;
        height: 28px;
        width: 215px;
        border: 1px solid #dbdbdb;
      } 
    }
  }
}

.lg {
  margin-top: 12.5px !important;
}

.lg:active {
  margin-top: 12.5px;
}

.thing {
  width: 100%;
  margin-top: 50px;
}

.btns {
  margin: 10px;
  margin-left: 15px;
  margin-right: 5px;
}

.searcher {
  display: flex;
  justify-content: center;
}

body {
  background-color: rgba(var(--b3f,250,250,250),1);
}

.imag {
  width: 100%;
  visibility: visible;
}

.collection-item {
  background-color: black;
}

.change {
  position: absolute;
}